In [1]:
import pandas as pd

In [2]:
train_csv = pd.read_csv('../datasets/titanic/train.csv')

In [3]:
train_csv.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

Extract `Survived` as y_train

In [4]:
y_train = train_csv['Survived']

Drop columns from train set which are not useful for classification

In [5]:
X_train = train_csv.drop('Survived', axis = 1)

In [6]:
X_train = X_train.drop(['Name','PassengerId','Ticket','Fare','Cabin','Embarked'] ,axis =1 )

Replace Sex with 0 for female and 1 for male

In [7]:
X_train['Sex'].replace(['female','male'],[0,1],inplace = True)

In [8]:
median_age = X_train['Age'].median()

In [9]:
X_train['Age'].fillna(median_age, inplace =  True)

In [10]:
X_train

     Pclass  Sex   Age  SibSp  Parch
0         3    1  22.0      1      0
1         1    0  38.0      1      0
2         3    0  26.0      0      0
3         1    0  35.0      1      0
4         3    1  35.0      0      0
5         3    1  28.0      0      0
6         1    1  54.0      0      0
7         3    1   2.0      3      1
8         3    0  27.0      0      2
9         2    0  14.0      1      0
10        3    0   4.0      1      1
11        1    0  58.0      0      0
12        3    1  20.0      0      0
13        3    1  39.0      1      5
14        3    0  14.0      0      0
15        2    0  55.0      0      0
16        3    1   2.0      4      1
17        2    1  28.0      0      0
18        3    0  31.0      1      0
19        3    0  28.0      0      0
20        2    1  35.0      0      0
21        2    1  34.0      0      0
22        3    0  15.0      0      0
23        1    1  28.0      0      0
24        3    0   8.0      3      1
25        3    0  38.0      1      5
26        3    1  28.0      0      0
27        1    1  19.0      3      2
28        3    0  28.0      0      0
29        3    1  28.0      0      0
..      ...  ...   ...    ...    ...
861       2    1  21.0      1      0
862       1    0  48.0      0      0
863       3    0  28.0      8      2
864       2    1  24.0      0      0
865       2    0  42.0      0      0
866       2    0  27.0      1      0
867       1    1  31.0      0      0
868       3    1  28.0      0      0
869       3    1   4.0      1      1
870       3    1  26.0      0      0
871       1    0  47.0      1      1
872       1    1  33.0      0      0
873       3    1  47.0      0      0
874       2    0  28.0      1      0
875       3    0  15.0      0      0
876       3    1  20.0      0      0
877       3    1  19.0      0      0
878       3    1  28.0      0      0
879       1    0  56.0      0      1
880       2    0  25.0      0      1
881       3    1  33.0      0      0
882       3    0  22.0      0      0
883       2    1  28.0      0      0
884       3    1  25.0      0      0
885       3    0  39.0      0      5
886       2    1  27.0      0      0
887       1    0  19.0      0      0
888       3    0  28.0      1      2
889       1    1  26.0      0      0
890       3    1  32.0      0      0

[891 rows x 5 columns]

In [11]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import SGDClassifier
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [12]:
knn_clf  = KNeighborsClassifier()
sgd_clf = SGDClassifier(max_iter=5, tol=-np.infty,random_state=42)
forest_clf = RandomForestClassifier(random_state = 42)

In [13]:
forest_score = cross_val_score(forest_clf, X_train, y_train, cv = 10, scoring = 'accuracy')

/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [14]:
forest_score.mean()

0.8071127000340483

In [15]:
test_csv = pd.read_csv('../datasets/titanic/test.csv')

In [16]:
test_csv = test_csv.drop(['Name','PassengerId','Ticket','Fare','Cabin','Embarked'] ,axis =1 )

In [17]:
test_csv['Age'].fillna(median_age, inplace =  True)

In [18]:
test_csv['Sex'].replace(['female','male'],[0,1],inplace = True)

In [19]:
forest_clf.fit( X_train, y_train)

/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=42, verbose=0, warm_start=False)

In [20]:
prediction = forest_clf.predict(test_csv)

In [21]:
len(test_csv)

418

In [22]:
pred_df = pd.DataFrame({'Survived': prediction})

In [23]:
test_csv_orig = pd.read_csv('../datasets/titanic/test.csv')

In [24]:
len(test_csv_orig)

418

In [25]:
X_train

     Pclass  Sex   Age  SibSp  Parch
0         3    1  22.0      1      0
1         1    0  38.0      1      0
2         3    0  26.0      0      0
3         1    0  35.0      1      0
4         3    1  35.0      0      0
5         3    1  28.0      0      0
6         1    1  54.0      0      0
7         3    1   2.0      3      1
8         3    0  27.0      0      2
9         2    0  14.0      1      0
10        3    0   4.0      1      1
11        1    0  58.0      0      0
12        3    1  20.0      0      0
13        3    1  39.0      1      5
14        3    0  14.0      0      0
15        2    0  55.0      0      0
16        3    1   2.0      4      1
17        2    1  28.0      0      0
18        3    0  31.0      1      0
19        3    0  28.0      0      0
20        2    1  35.0      0      0
21        2    1  34.0      0      0
22        3    0  15.0      0      0
23        1    1  28.0      0      0
24        3    0   8.0      3      1
25        3    0  38.0      1      5
26        3    1  28.0      0      0
27        1    1  19.0      3      2
28        3    0  28.0      0      0
29        3    1  28.0      0      0
..      ...  ...   ...    ...    ...
861       2    1  21.0      1      0
862       1    0  48.0      0      0
863       3    0  28.0      8      2
864       2    1  24.0      0      0
865       2    0  42.0      0      0
866       2    0  27.0      1      0
867       1    1  31.0      0      0
868       3    1  28.0      0      0
869       3    1   4.0      1      1
870       3    1  26.0      0      0
871       1    0  47.0      1      1
872       1    1  33.0      0      0
873       3    1  47.0      0      0
874       2    0  28.0      1      0
875       3    0  15.0      0      0
876       3    1  20.0      0      0
877       3    1  19.0      0      0
878       3    1  28.0      0      0
879       1    0  56.0      0      1
880       2    0  25.0      0      1
881       3    1  33.0      0      0
882       3    0  22.0      0      0
883       2    1  28.0      0      0
884       3    1  25.0      0      0
885       3    0  39.0      0      5
886       2    1  27.0      0      0
887       1    0  19.0      0      0
888       3    0  28.0      1      2
889       1    1  26.0      0      0
890       3    1  32.0      0      0

[891 rows x 5 columns]

In [26]:
cont = pd.concat([test_csv_orig,pred_df], axis=1 ,sort = False)

In [27]:
submission =  cont[['PassengerId','Survived']]

In [28]:
submission.to_csv('titanic_amitnjha.csv', index =  False)